* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

body {
    background-color: #373741;
    margin: 0;
    padding: 0;
}

/* --------------- H E A D E R -----------------*/

header {
    background-image: url(../images/background-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    position: relative;
    height: 550px;
    margin-top: 40px;
    text-align: center;
}

h1 {
    text-transform: uppercase;
    font-size: 2.8rem;
    letter-spacing: 15px;
}

h2 {
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.contact p {
    margin: 0px;
    padding: 2px;
    font-size: 1rem;
}

/* --------------- A B O U T -----------------*/

#about {
    font-size: 1.2rem;
    line-height: 2rem;
}

h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.8rem;
    letter-spacing: 5px;
    line-height: 5rem;
    font-family: 'Times New Roman', Times, serif;
    padding: 30px;
    margin: 0 auto;
}

#about p {
    margin-left: 120px;
    margin-right: 120px;
    padding: 10px 10px 10px 10px;
    text-align: center;
}
/* --------------- T I M E L I N E -----------------*/

#timeline {
    text-align: center;
    padding: 10px;
}

.years {
    display: flex;
    justify-content: space-around;
    padding-bottom: 12px;
    letter-spacing: 5px;
    font-size: 1.2rem;
}

.one {
    font-family: 'Times New Roman', Times, serif;
}

.two {
    color: #dafffa;
    font-family: 'Times New Roman', Times, serif;
}

.three {
    color: #92c2bc;
    font-family: 'Times New Roman', Times, serif;
}

.four {
    color: #678985;
    font-family: 'Times New Roman', Times, serif;
}

.five {
    color: #406564;
    font-family: 'Times New Roman', Times, serif;
}

.line {
    background-color: white;
    height: 3px;
    width: 90%;
    margin: 0 auto;
}

.highlighters {
    display: flex;
    justify-content: space-around;
}

.highlighter-one {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    margin: 0;
}

.highlighter-two {
    width: 20px;
    height: 20px;
    background-color:#dafffa;
    border-radius: 50%;
    margin: 0;
}

.highlighter-three {
    width: 20px;
    height: 20px;
    background-color:#92c2bc;
    border-radius: 50%;
    margin: 0;
}

.highlighter-four {
    width: 20px;
    height: 20px;
    background-color:#678985;
    border-radius: 50%;
    margin: 0;
}

.highlighter-five {
    width: 20px;
    height: 20px;
    background-color:#406564;
    border-radius: 50%;
    margin: 0;
}


.event {
    font-weight: bold;
    font-size: 1rem;
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

.description {
    font-size: 1rem;
    display: flex;
    justify-content: space-around;
}
