* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

body {
    background-color: #373741;
    margin: 0;
    padding: 0;
}

/* --------------- H E A D E R -----------------*/

header {
    background-image: url(../images/background-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 550px;
    margin-top: 3%;
    text-align: center;
}

h1 {
    text-transform: uppercase;
    font-size: 2.8rem;
    letter-spacing: 15px;
    padding-top: 15%;
}

h2 {
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.contact{
    padding-top: 10px;
}

.contact p {
    margin: 0px;
    padding: 2px 0 0 0;
    font-size: 1rem;
}

/* ------------- C O N T E N T --------------*/

.content {
    padding: 5% 10%;
}

/* --------------- A B O U T -----------------*/

#about {
    font-size: 1.2rem;
    line-height: 2rem;
}

h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: lighter;
    letter-spacing: 5px;
    font-family: 'Times New Roman', Times, serif;
    padding: 0px 0px 40px 0;
    margin: 0 auto;
}

#about p {
    padding-bottom: 70px;
    text-align: center;
}
/* --------------- T I M E L I N E -----------------*/

#timeline {
    text-align: center;
    padding: 10px 0 100px 0;
}

.events {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

.event {
    flex-grow: 1;
    position: relative;
}

.year {
    letter-spacing: 5px;
    font-size: 1.2rem;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 20px;
    border-bottom: 1px solid #fff;
    display: inline-block;
    width: 100%;
}

.event::after {
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: block;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 43px;
    transform: translateX(-50%) translateY(-50%);
}

.line {
    background-color: white;
    height: 3px;
    width: 90%;
    margin: 0 auto;
}

.highlighter {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
}

.title {
    font-weight: bold;
    font-size: 1rem;
    padding: 5px;
    margin: 20px 0 0 0;
    display: block;
}

.description {
    font-size: 1rem;
    display: flex;
    justify-content: space-around;
    margin: 0;
}

/* --------------- O R G A N I Z E -----------------*/
.organize {
    font-size: 1rem;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 70px;
}

/* -------------- E X P E R T I S E ----------------*/


.skills {
    margin: 0;
    padding: 5px;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
    justify-content: space-around;
    height: 200px;
    width: 200px;
}

.skill {
    width: 70px;
    height: 70px;
    display: flex;
    border-radius: 50%;
    border: 5px solid #c0fff7;
    background-color: #fff;
}

h4 {
    padding: 15px;
    margin: 0;
    color: #373741;
    font-size: 11px;
    text-align: center;
    line-height: 20px;
}

/* -------------- R E F E R E N C E S ----------------*/

.references {
    text-align: center;
}

.reference {
    padding: 5px;
    margin-bottom: 10px;
}

.person {
    text-transform: uppercase;
    color: #92c2bc;
    padding: 10px;
    letter-spacing: 5px;
}

.reference p {
    margin: 0;
}

.interests {
    text-align: center; 
}